.emp-fp-body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #cce7ff, #e6f7ff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.emp-fp-container {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    width: 800px;
    max-width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 450px;
}

.emp-fp-emp-fp-illustration {
    flex: 1;
    background: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.emp-fp-illustration img {
    max-width: 100%;
    height: auto;
    width: 400px;
    height: 300px;
    margin-left: 8px;
}

.emp-fp-form-container {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.emp-fp-form-container h1 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #333333;
}

.emp-fp-form-container p {
    color: #555555;
    margin-bottom: 20px;
}

.emp-fp-form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-size: 16px;
}

.emp-fp-form-container button {
    background: linear-gradient(to right, #ff7e00, #ff5500);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.emp-fp-form-container button:hover {
    opacity: 0.9;
}

.emp-fp-form-container a {
    text-decoration: none;
    color: #007bff;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

.emp-fp-form-container a:hover {
    text-decoration: underline;
}
